<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>
      List of Food Items
      <button mat-mini-fab (click)="addFoodItem()" color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <table mat-table [dataSource]="dataSource">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element"> {{ element.price }}</td>
    </ng-container>

    <!-- Calories Column -->
    <ng-container matColumnDef="calories">
      <th mat-header-cell *matHeaderCellDef>Calories</th>
      <td mat-cell *matCellDef="let element"> {{ element.calories }}</td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="deleteFoodItem">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="icon-cell">
        <button mat-mini-fab color="warn">
          <a (click)="deleteFoodItem(element)">
            <mat-icon matTooltip="Delete">delete</mat-icon>
          </a>
        </button>
      </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="editFoodItem">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="icon-cell">
        <button mat-mini-fab color="primary">
          <a (click)="selectFoodItem(element)">
            <mat-icon matTooltip="Select">edit</mat-icon>
          </a>
        </button>
        
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>